<div id="form" class='ladi-element'>
    <form autocomplete="off" method="post" class='ladi-form' action="/posts" remote="true">
        <div id="BUTTON1631" class='ladi-element'>
            <div class='ladi-button'>
                <div class="ladi-button-background"></div>
                <div id="BUTTON_TEXT1631" class='ladi-element ladi-button-headline'>
                    <input type="submit" class='ladi-headline' value='ĐĂNG KÍ NGAY' style="height: 100%; background-color: rgb(201, 170, 107); ">
                </div>
            </div>
        </div>
        <div id="FORM_ITEM1632" class='ladi-element'>
            <div class="ladi-form-item-container">
                <div class="ladi-form-item-background"></div>
                <div class='ladi-form-item'><input autocomplete="off" tabindex="1" name="name" required
                        class="ladi-form-control" type="text" placeholder="Họ và tên" value="" /></div>
            </div>
        </div>
        <div id="FORM_ITEM1634" class='ladi-element'>
            <div class="ladi-form-item-container">
                <div class="ladi-form-item-background"></div>
                <div class='ladi-form-item'>
                    <input autocomplete="off" tabindex="3" name="phone" required
                        class="ladi-form-control" type="tel" placeholder="Số điện thoại"
                        pattern="(\+84|0)(9|8|7|5|3)[0-9]{8}" value="" />
                </div>
            </div>
        </div>
        <div id="FORM_ITEM1635" class='ladi-element'>
            <div class="ladi-form-item-container">
                <div class="ladi-form-item-background"></div>
                <div class='ladi-form-item'><textarea autocomplete="off" tabindex="4" name="message" required
                        class="ladi-form-control" placeholder="Để lại lời nhắn cho chúng tôi"></textarea></div>
            </div>
        </div>
    </form>
</div>
