<div class="ladipage-message d-none">
    <div class="ladipage-message-box"><span>Alert</span>
        <div class="ladipage-message-text">Cảm ơn bạn đã quan tâm!</div><button
            class="ladipage-message-close">OK</button>
    </div>
</div>

<style>
    .d-none {
        display: none;
    }
</style>
