<div class="ladipage-message alert d-none">
    <div class="ladipage-message-box"><span>Thông báo</span>
        <div class="ladipage-message-text">Cảm ơn bạn đã quan tâm!</div>
        <button
            class="ladipage-message-close"
            onclick='close()'>OK</button>
    </div>
</div>

<style>
    .d-none {
        display: none;
    }
</style>

<script>
    function close() {
        document.getElementsByClassName("alert")[0].classList.add('d-none')
    }
</script>
